.banner-bg {
  background-image: url("/assets/images/user.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: auto;
  height: 480px;
}
